/* Reset box sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

// CSS classes can be further optimized, :root element can be possible re-used, some optimizations left


:root {
  --color-text: #333333;
  --background: rgba(255, 255, 255, 0.8);
  --color-checkbox-theme: #333333;
  --color-checkbox-type: #ee3e75;
  --color-checkbox-circle: #FFFFFF;
  --gradient: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%), url(assets/rizz-bg.jpg), #333333;
  --color-main: #ee3e75;
  --check-before-right: 51.06%;
  --check-before-left: 4.26%;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure,
figcaption,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Set font size and line height */
html {
  font-size: 16px;
  line-height: 1.5;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button,
input[type='button'],
input[type='submit'] {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

/* Remove default form styles */
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
}

/* Set default box shadow */
.shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.ce_head {
  margin-top: 17px;
}

.ce_main {
  width: 360px;
  height: 600px;
  background: var(--gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.text {
  color: var(--color-text);
  font-size: 15px;
}

.ce_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 100%;
}

input {
  padding: 10px;
  color: var(--color-text);
}

select {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--color-text);
}

.toggle-container {
  position: relative;
}

label {
  color: var(--color-text);
  font-size: 15px;
}

input::placeholder {
  color: var(--color-text);
}

.ce_info-block {
  display: flex;
  align-items: center;
  width: 90%;
}
.ce_info-block label {
  width: 80px;
  margin-right: 8px;
}

.ce_info-input {
  background: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12.5px;
  width: 100%;
  height: 26px;
}

input[type='checkbox'] {
  display: none;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.check {
  position: relative;
  display: block;
  width: 47px;
  height: 25px;
  border-radius: 12.5px;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in 0,5s;
}

.check--theme{
  background: var(--color-checkbox-theme);
}

.check--type{
  background: var(--color-checkbox-type);
}


.check:before {
  content: '';
  position: absolute;
  right: var(--check-before-right);
  left: var(--check-before-left);
  top: 8%;
  bottom: 8%;
  background: var(--color-checkbox-circle);
  height: 21px;
  width: 21px;
  border-radius: 50%;
}

.textbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.textbox {
  width: 330px;
  height: 176px;

  background: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12.5px;
}

.ce_button {
  width: 330px;
  height: 40px;

  background: #ee3e75;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12.5px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
}
